.rowone {
  height: 50%;
  background-color: red;
}

.rowtwo {
  height: 50%;
  background-color: blue;
}

.itemone {
  width: calc(100%  /3);
  height: 50%;
  background-color: blue;
  float: left;
  text-align: left;
}

.itemtwo{
  width: calc(100%  /3);
  height: 50%;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.itemthree{
  width: calc(100%  /3);
  height: 50%;
  background-color: lightblue;
  float: right;
  text-align: left;
}
