body {
  margin: 0;
}
.homeimage /* this is a container */ {
  height: 88%;
  position: relative;
}

.mealplan /* this is a container */ {
  height: 12%;
  background-color: rgba(232,232,232,100);
}
.mealplangrid /* this is a container */ {
  height: 100%;
  background-color: orange;
}
.footer /* this is a container */ {
  height: 10%;
  background-color: black;
}
